footer{
    position: relative;
    background-color: #054199;
    color: #fff;
}

.first-bloc-footer{
    display: flex;
    position: inherit;
    z-index: 1;
    padding: 30px 118px;
    justify-content: space-between;
}

.box-footer{
    width: 25%;
}

.box-head-footer{
    margin-bottom: 47px;
}

.box-head-footer-badge{
    margin-bottom: 0px;
}

.logo_footer{
    width: 114px;
    height: 45px;
}

.title-footer{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
}

.dp-flx-txt-ctr{
    display: flex;
    margin-bottom: 25px;
}

.dp-flx{
    display: flex;
}

.dp-blk{
    display: flex;
    flex-direction: column;
}

.mrg-btm{
    margin-bottom: 16px;
}

.flx-end{
    display: block;
    justify-content: flex-end;
}

.icons_footer{
    margin-right: 11px;
    height: 22px;
}

.lien-footer{
    font-family: 'Roboto';
    font-style: normal;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.badge_footer{
    width: 180px;
    /* height: 40px; */
    /* margin-top: 16px; */
    /* object-fit: contain; */
}

.second-bloc-footer{
    background: #043793;
    display: flex;
    justify-content: space-between;
    padding: 30px 118px;
}

.link-footer-secd{
    color: #fff;
    text-decoration: none;
}

.VectorBleu1{
    position: absolute;
    z-index: 0px;
    top: -97px;
    left: 0px;
    width: 100%;
}

.VectorBleu2{
    position: absolute;
    z-index: 0px;
    top: -112px;
    left: 0px;
    width: 100%;
}

.VectorBleu3{
    position: absolute;
    z-index: 0px;
    top: -81px;
    left: 0px;
    width: 100%;
}
