.SecondeSection{
    font-family: 'Roboto';
    font-style: normal;
    padding: 30px 118px;
}

.title-secd-sct{
    font-weight: 600;
    font-size: 45px;
    line-height: 30px;
}

span{
    color: #1459CA;
}

.text-secd-sct{
    width: 945px;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    text-align: justify;
    line-height: 172%;
    color: #4C526A;
}

.box-row{
    display: flex;
    justify-content: space-between;
}

.box-col{
    /* width: 294px; */
    width: 25%;
    margin: 0px;
}

.subtitle{
    margin-top: 25px;
    margin-bottom: 17px;
    font-weight: 600;
    font-size: 25px;
    line-height: 138%;
    font-feature-settings: 'salt' on, 'liga' off;
}

.text-box-col{
    font-weight: 500;
    font-size: 20px;
    line-height: 172%;
    color: #4C526A;
    font-feature-settings: 'salt' on, 'liga' off;
}

/* partenaire part  */

.box-partenaire{
    position: relative;
    display: flex;
    margin: 100px 0px;
    width: 100%;
    background: linear-gradient(95.58deg, #076DB4 0.73%, #042C8C 117.02%);
    border-radius: 15px;
}

.content-partenaire{
   padding:  70px 92px 54px 97px;
}

.title-partenaire{
    font-weight: 700;
    font-size: 40px;
    line-height: 28px;
    color: #FFFFFF;
}

.text-partenaire{
    font-weight: 400;
    font-size: 25px;
    line-height: 34px;
    color: #FFFFFF;
}

.bouton-partenaire{
    color: #14186A;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    padding: 20px 50px;
    gap: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px ;
    border: 0px;
}

.bandeau{
    position: absolute;
    height: 100%;
    left: 62.01%;
    right: 7.65%;
    top: 0%;
    bottom: 0%;
}

/* FAQ part  */

.sect-faq{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.box-faq-pict{
    height: 493px;
    width: 35%;
    background: linear-gradient(95.58deg, #076DB4 0.73%, #042C8C 117.02%);
    border-radius: 15px;
}

.faq-pict{
    position: relative;
    bottom: 0px;
    top: -31px;
}

.title-faq{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    letter-spacing: -0.02em;
    font-feature-settings: 'salt' on, 'liga' off;
    color: #020D37;
    margin-top: 0px;
    margin-bottom: 20px;
}

.box-faq{
    padding: 12px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EDEFFF;
    border-radius: 4px;
    margin: 0 0 20px 0;
}

.faq{
    margin: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #24216E;
}

.dropdown-icon-faq{
    color: #14186A;
    background: #EDEFFF;
    margin-left: 33px;
    padding: 13px 15px;
    border-radius: 25px;
}